<script type="text/javascript" src="https://www.simplify.com/commerce/simplify.pay.js"></script>

@* hide until price selected (keep hidden if card registered)*@
@if (Session["customer"] == null) {
<button data-sc-key="sbpb_MDllNDA0OTctZWFkYS00YjU4LThjNjQtNzlkOWRkNmYyOTdl"
        data-operation='create.token'
        data-redirect-url='http://localhost:61428/'
        data-submit-label='Register Card'
        data-color="#12B830">
    Add A Card
</button>
}

<form action="/" method="post" style="text-align:center" />
<label class="button" for="1"><span class="labelcontent">50p</span></label>
<input type="radio" id="1" name="amount" value="0.5" required>
<label class="button" for="2"><span class="labelcontent">£1</span></label>
<input type="radio" id="2" name="amount" value="1" required>
<label class="button" for="3"><span class="labelcontent">£2</span></label>
<input type="radio" id="3" name="amount" value="2" required>
<br>
<div>
    <div id="notFound" style="display:none"><span id="missingCode"></span> not found.</div>
    <h2 style="margin:auto;width:70%;">
        Confirm donation
    </h2>
    <input name="code" required/>
</div>
<br>

<input type="submit" />
</form>
</body>

<style>
    label {
        border: 1px solid black;
        height: 60px;
        width: 70px;
        border-radius: 10px;
        z-index: 3;
    }

        label .labelcontent {
            position: relative;
            top: 8px;
            font-size: 30px;
            z-index: 1;
        }

    input[type="radio"] {
        visibility: hidden;
    }
</style>

<script>

  var setTab = function(event){
    $(".button").css("background-color", "white");
    $(event.toElement).css("background-color", "blue");
  }
  buttons = $(".button");
  buttons.click(setTab);

  $(".labelcontent").click(function(e){
    e.stopPropagation();
  })

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var param = getParameterByName("notFound");

    if (param) {
        document.getElementById("missingCode").innerText = param;
        document.getElementById("notFound").setAttribute("style", "color: red");
    }
</script>