@*<form action="/" method="post" />
<label for="1">50p</label>
<input type="radio" id="1" name="amount" value="0.5">
<label for="2">£1</label>
<input type="radio" id="2" name="amount" value="1">
<label for="3">£2</label>
<input type="radio" id="3" name="amount" value="2">

<div>
    <div id="notFound" style="display:none"><span id="missingCode"></span> not found.</div>
    <h2>
        Code
    </h2>
    <input name="code"/>
</div>
    <input type="submit" />
</form>

<script>
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var param = getParameterByName("notFound");

    if (param) {
        document.getElementById("missingCode").innerText = param;
        document.getElementById("notFound").setAttribute("style", "color: red");
    }
</script>*@



<!--<div class="row">
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="file:///Users/apple/Desktop/Chance/Images/05pound.png" alt="...">
    </a>
  </div>
<div class="row">
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="file:///Users/apple/Desktop/Chance/Images/1pound.png" alt="...">
    </a>
  </div>

<div class="row">
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="file:///Users/apple/Desktop/Chance/Images/2pound.png" alt="...">
    </a>
  </div>
</div>-->

<form action="/" method="post" style="text-align:center" />
<label class="button" for="1"><span class="labelcontent">50p</span></label>
<input type="radio" id="1" name="amount" value="0.5" required>
<label class="button" for="2"><span class="labelcontent">£1</span></label>
<input type="radio" id="2" name="amount" value="1" required>
<label class="button" for="3"><span class="labelcontent">£2</span></label>
<input type="radio" id="3" name="amount" value="2" required>
<br>
<div>
    <div id="notFound" style="display:none"><span id="missingCode"></span> not found.</div>
    <h2 style="margin:auto;width:70%;">
        Confirm donation
    </h2>
    <input name="code" required/>
</div>
<br>

<input type="submit" />
</form>
</body>

<style>
    label {
        border: 1px solid black;
        height: 60px;
        width: 70px;
        border-radius: 10px;
        z-index: 3;
    }

        label .labelcontent {
            position: relative;
            top: 8px;
            font-size: 30px;
            z-index: 1;
        }

    input[type="radio"] {
        visibility: hidden;
    }
</style>

<script>

  var setTab = function(event){
    $(".button").css("background-color", "white");
    $(event.toElement).css("background-color", "blue");
  }
  buttons = $(".button");
  buttons.click(setTab);

  $(".labelcontent").click(function(e){
    e.stopPropagation();
  })

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var param = getParameterByName("notFound");

    if (param) {
        document.getElementById("missingCode").innerText = param;
        document.getElementById("notFound").setAttribute("style", "color: red");
    }
</script>