<form action="/" method="post" />
<label for="1">50p</label>
<input type="radio" id="1" name="amount" value="0.5">
<label for="2">£1</label>
<input type="radio" id="2" name="amount" value="1">
<label for="3">£2</label>
<input type="radio" id="3" name="amount" value="2">

<div>
    <div id="notFound" style="display:none"><span id="missingCode"></span> not found.</div>
    <h2>
        Code
    </h2>
    <input name="code"/>
</div>
    <input type="submit" />
</form>

<script>
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var param = getParameterByName("notFound");

    if (param) {
        document.getElementById("missingCode").innerText = param;
        document.getElementById("notFound").setAttribute("style", "color: red");
    }
</script>