/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-size:14pt;
}

h1, h2, .body-content{
    font-family:sans-serif;
    font-weight:bold;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

  body {
    background-image: url("../Assets/backg.jpg");
    background-repeat: no;
  }
  label{
    border:1px solid black;
    height:60px;
    width:70px;
    border-radius:10px;
    z-index:3;
  }
  
  label .labelcontent{
    position:relative;
    top:8px;
    font-size: 30px;
    z-index:1;
  }
  
  input[type="radio"]{
    visibility:hidden;
  }
  
#simplify-checkout-embed-frame {
    border: none;
    height: 375px;
    overflow: hidden;
    width:375px;
    position: absolute;
    
}
img.logo{
    width:540px; /* you can use % */
    height: auto;
}
